.leftColumn {
    float: left;
    width: 30%;
    height: 300px;
}

.middleColumn {
    float: left;
    width: 30%;
    margin-left: 4%;
    margin-right: 4%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 500px;
    overflow: hidden;
    text-align: center;
}

.rightColumn {
    float: left;
    width: 30%;
}

td {
    padding: 10px;
}

#achievements {
    text-align: center;
}